openapi: 3.1.0
info:
  title: Chugmania Webhooks
  version: 1.0.0
  description: Webhook contract emitted by the Trackmania Turbo and Trackmania Next plugins.
servers:
  - url: https://chugmania.no/api
    description: Official chugmania webhook consumer.
paths:
  /webhook:
    post:
      operationId: receiveTrackmaniaEvent
      summary: Receive one Trackmania race event
      security:
        - bearerAuth: []
        - {}
      parameters:
        - name: event_type
          in: header
          required: true
          description: Event discriminator matching the request body's `type` property.
          schema:
            type: string
            enum: [start, first_throttle, checkpoint, lap, respawn, finish, end]
        - name: event-id
          in: header
          required: true
          description: Event UUID matching the request body's `eventId` property.
          schema:
            type: string
            format: uuid
        - name: event-sequence
          in: header
          required: true
          description: Event sequence matching the request body's `sequence` property.
          schema:
            type: integer
            format: int64
            minimum: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Event accepted. The plugin ignores the response body.
        '204':
          description: Event accepted with no response body.
        '3XX':
          description: Permanent delivery failure. The plugin does not follow redirects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '408':
          description: Request timeout. The plugin retries the event.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests. The plugin retries the event.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '4XX':
          description: Permanent delivery failure, except for the separately documented 408 and 429 responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. NO_ACTIVE_SESSION means no receiver session can currently register the event.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                noActiveSession:
                  value:
                    code: NO_ACTIVE_SESSION
                    message: No active receiver session can register this event.
        '5XX':
          description: Temporary receiver failure. The plugin retries the event.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Optional. Omit authentication when the plugin token setting is empty.
  headers:
    RetryAfter:
      description: Delay as integer seconds or an HTTP date.
      schema:
        type: string
  schemas:
    Event:
      oneOf:
        - $ref: '#/components/schemas/StartEvent'
        - $ref: '#/components/schemas/FirstThrottleEvent'
        - $ref: '#/components/schemas/PlayerCheckpointEvent'
        - $ref: '#/components/schemas/EndEvent'
      discriminator:
        propertyName: type
        mapping:
          start: '#/components/schemas/StartEvent'
          first_throttle: '#/components/schemas/FirstThrottleEvent'
          checkpoint: '#/components/schemas/PlayerCheckpointEvent'
          lap: '#/components/schemas/PlayerCheckpointEvent'
          respawn: '#/components/schemas/PlayerCheckpointEvent'
          finish: '#/components/schemas/PlayerCheckpointEvent'
          end: '#/components/schemas/EndEvent'
    BaseEvent:
      type: object
      additionalProperties: true
      required:
        - schemaVersion
        - type
        - eventId
        - sequence
        - occurredAt
        - durationMs
        - game
        - source
      properties:
        schemaVersion:
          type: string
          pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
          examples: ['1.0.0']
        type:
          type: string
          minLength: 1
        eventId:
          type: string
          format: uuid
          description: Globally unique UUID v4, retained across retries.
        sequence:
          type: integer
          format: int64
          minimum: 0
          description: Contiguous capture order within the game.
        occurredAt:
          type: string
          format: date-time
          description: RFC 3339 UTC timestamp with millisecond precision.
        durationMs:
          type: integer
          format: int64
          minimum: 0
          description: In-game race timer when the event occurred.
        game:
          $ref: '#/components/schemas/Game'
        source:
          $ref: '#/components/schemas/Source'
    Source:
      type: object
      additionalProperties: true
      required:
        - pluginName
        - pluginVersion
        - game
      properties:
        pluginName:
          type: string
          minLength: 1
          enum: [Chugmania Webhooks]
          description: Identifies Chugmania Webhooks as the plugin that produced the event.
        pluginVersion:
          type: string
          minLength: 1
          pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
        game:
          type: string
          minLength: 1
          enum: [turbo, next]
          description: >-
            Possible values are `turbo` for Trackmania Turbo and `next` for
            Trackmania Next.
    Game:
      type: object
      additionalProperties: true
      required: [gameId, totalPlayers]
      properties:
        gameId:
          type: string
          format: uuid
          description: UUID v4 shared by all captured events in one round.
        totalPlayers:
          type: integer
          minimum: 1
          description: >-
            Number of players in the round, constant within the game and equal
            to start.players.length when start is emitted.
    Player:
      type: object
      additionalProperties: true
      required: [playerIndex]
      properties:
        playerIndex:
          type: integer
          minimum: 0
        name:
          type: string
          minLength: 1
          description: Display name from the game API.
        login:
          type: string
          minLength: 1
          description: Game login; omitted when not exposed by the runtime.
        localId:
          type: string
          minLength: 1
          description: >-
            Decimal engine-local ID for the player's login. Available in
            Trackmania Next; omitted when the runtime does not expose it.
        accountId:
          type: string
          minLength: 1
          description: >-
            Ubisoft/Nadeo WebServices account ID. Available in Trackmania Next;
            omitted when the runtime does not expose it.
    PlayerEvent:
      allOf:
        - $ref: '#/components/schemas/BaseEvent'
        - type: object
          additionalProperties: true
          required: [player]
          properties:
            player:
              $ref: '#/components/schemas/Player'
              description: Full snapshot of the player associated with the event.
    Checkpoint:
      type: object
      additionalProperties: true
      required: [checkpointIndex, checkpointLapIndex, lapNumber]
      properties:
        checkpointIndex:
          type: integer
          minimum: 0
          description: Global checkpoint position across laps.
        checkpointLapIndex:
          type: integer
          minimum: 0
          description: >-
            Checkpoint position within the lap. Intermediate checkpoints are
            1..map.checkpointsPerLap, lap events use 0 for the start of the new
            lap, and finish events use map.checkpointsPerLap + 1 for the end of
            the final lap.
        lapNumber:
          type: integer
          minimum: 1
          description: One-based current lap.
        theoreticalDurationMs:
          type: integer
          format: int64
          minimum: 0
          description: >-
            Optional Trackmania Next checkpoint time with respawn losses
            removed, sourced from MLFeed LastTheoreticalCpTime.
        lostMs:
          type: integer
          format: int64
          minimum: 0
          description: Optional Trackmania Next dependency value for time lost on respawn, sent unchanged.
    MedalTimes:
      type: object
      additionalProperties: true
      required: [author, gold, silver, bronze]
      properties:
        author:
          type: integer
          format: int64
          minimum: 0
        gold:
          type: integer
          format: int64
          minimum: 0
        silver:
          type: integer
          format: int64
          minimum: 0
        bronze:
          type: integer
          format: int64
          minimum: 0
    Map:
      type: object
      additionalProperties: true
      required:
        - name
        - uid
        - author
        - environment
        - type
        - medalTimesMs
        - isLaps
        - totalLaps
        - checkpointsPerLap
      properties:
        name:
          type: string
          minLength: 1
        uid:
          type: string
          minLength: 1
          description: Unique map identifier from the game API.
        author:
          type: string
          minLength: 1
          description: Creator nickname from the game API.
        environment:
          type: string
          minLength: 1
          description: Environment or setting used by the map.
        type:
          type: string
          minLength: 1
          description: Map type reported by the game API.
        medalTimesMs:
          $ref: '#/components/schemas/MedalTimes'
          description: Target medal times; zero means unknown or not exposed.
        isLaps:
          type: boolean
        totalLaps:
          type: integer
          minimum: 0
          description: Zero when the map is not lap-based or the lap count is unknown.
        checkpointsPerLap:
          type: integer
          minimum: 0
          description: Intermediate checkpoints only; excludes start and finish. Always emitted for a non-null map.
    Mode:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          minLength: 1
          enum:
            [campaign, arcade, hot-seat, split-screen, secret, solo, unknown]
          description: >-
            Normalized local mode. Turbo emits campaign, arcade, hot-seat,
            split-screen, secret, or unknown. Next emits campaign, solo, or
            split-screen. Unknown is used when the game does not expose enough
            information to identify the local mode positively.
        type:
          type: string
          minLength: 1
          enum:
            - time-attack
            - rounds
            - laps
            - cup
            - royal-time-attack
            - platform
            - team
            - stunts
            - unknown
            - split-screen-classic-fun
            - split-screen-classic-pro
            - split-screen-smash-fun
            - split-screen-smash-pro
            - split-screen-mono-screen-fun
            - split-screen-mono-screen-pro
            - split-screen-stunt-fun
            - split-screen-stunt-pro
            - split-screen-bonus-fun
            - split-screen-bonus-pro
            - arcade-smash
            - arcade-stunt
            - hot-seat-smash
            - hot-seat-stunt
          description: >-
            Turbo secret variant when name is secret, or normalized Trackmania
            Next rule family. Split-screen values are time-attack, rounds, laps,
            cup, royal-time-attack, platform, or unknown. Solo may additionally
            emit team or stunts. The field is omitted when a meaningful solo
            rule family cannot be resolved.
    StartEvent:
      allOf:
        - $ref: '#/components/schemas/BaseEvent'
        - type: object
          additionalProperties: true
          required: [type, players, mode]
          properties:
            type:
              type: string
              minLength: 1
              enum: [start]
              description: The start event is emitted when a fully captured round begins.
            players:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/Player'
              description: Ordered so players[i].playerIndex equals i.
            map:
              $ref: '#/components/schemas/Map'
              description: >-
                Map played during the round. Emitted as null only if start is
                emitted before the game exposes a map object. When non-null, all
                Map properties are required.
            mode:
              $ref: '#/components/schemas/Mode'
    FirstThrottleEvent:
      allOf:
        - $ref: '#/components/schemas/PlayerEvent'
        - type: object
          additionalProperties: true
          required: [type]
          properties:
            type:
              type: string
              minLength: 1
              enum: [first_throttle]
              description: The first_throttle event is emitted on the player's first throttle input of the round.
    PlayerCheckpointEvent:
      allOf:
        - $ref: '#/components/schemas/PlayerEvent'
        - type: object
          additionalProperties: true
          required: [type, checkpoint]
          properties:
            type:
              type: string
              minLength: 1
              enum: [checkpoint, lap, respawn, finish]
              description: >-
                Possible values are `checkpoint` when the player validates an
                intermediate checkpoint, `lap` when the player starts a new lap,
                `respawn` when a respawn is detected, and `finish` when the player
                finishes the round.
            checkpoint:
              $ref: '#/components/schemas/Checkpoint'
    EndEvent:
      allOf:
        - $ref: '#/components/schemas/BaseEvent'
        - type: object
          additionalProperties: true
          required: [type, endReason]
          properties:
            type:
              type: string
              minLength: 1
              enum: [end]
              description: The end event is emitted when capture of the round ends.
            endReason:
              type: string
              minLength: 1
              enum: [completed, restarted, aborted, unknown]
              description: >-
                Possible values are `completed` when the round finished normally,
                `restarted` when a restart ended it, `aborted` when capture ended
                before completion (including Trackmania Turbo Give up), and
                `unknown` when no more specific reason is available. Trackmania
                Next uses completed for a captured finish, restarted for a stable
                replacement spawn, and aborted for other exits.
    ErrorResponse:
      type: object
      additionalProperties: true
      required: [code]
      properties:
        code:
          type: string
          minLength: 1
        message:
          type: string
          minLength: 1
